conda.enabled = true
dag.file = 'dag.dot'

report {
    enabled = true
    file = 'report.html'
    overwrite = true
}

executor {
    name   = 'local'
    cpus   = 56
    memory = '250 GB'
}



params {
    // INPUT DIRECTORY
    reads = "data/*.fastq.gz"

    // OUTPUT DIRECTORIES
    output_qc = "results" // if QC outputs should be put into different directory
    outdir = "results"

    out_raw_qc = "01_raw_nanoplot"
    out_filtered = "02_filtered_reads"
    out_host_removal = "03_host_removed_reads"
    out_filtered_qc = "04_filtered_nanoplot"

    out_assembly = "11_assembly"
    out_polishing = "12_polishing"
    out_binning = "13_binning"
    out_binning_qc = "14_binning_qc" // nicht verwendet

    out_class_reads = "21_classified_reads"
    out_class_bracken = "22_classified_bracken"
    out_class_assembly = "23_classified_assembly"
    out_class_bins = "24_classified_bins"
    out_class_bins_qc = "25_classified_bins_qc"

    out_multiqc_qc = "31_multiqc_qc"
    out_multiqc_reads = "32_multiqc_reads_classification"
    out_multiqc_assembly = "33_multiqc_assembly_classification"
    out_multiqc_binning = "34_multiqc_binning_classification"

    // Database parameters
    kraken_db = "/group/db/Kraken2_plusPF_072025" // Kraken db
    bracken_db_files = "/group/db/Bracken_plusPF_072025" // Bracken db
    db_dir = "db" // Generic db folder

    // Quality Parameters
    min_q = 10                 
    min_len = 500    

    // Host Depletion
    host_ref = null
    skip_host_depletion = false

    // Assembly + Polish Parameters
    tool = "flye"
    flye_mode = "--nano-hq" 
    medaka_model = "r1041_e82_400bps_sup_v4.3.0"

}


// Conda
// process {
//    withName: 'checkm2' {
//        conda = '${HOME}/miniforge3/envs/checkm2'
//    }
// }