conda.enabled = true

executor {
    name   = 'local'
    cpus   = 50
    memory = '250 GB'
}


// OUTPUT DIRECTORIES
params {
    out_raw_qc = "01_raw_nanoplot"
    out_filtered = "02_filtered_reads"
    out_host_removal = "03_host_removed_reads"
    out_filtered_qc = "04_filtered_nanoplot"

    out_assambly = "11_assembly"
    out_polishing = "12_polishing"
    out_binning = "13_binning"
    out_binning_qc = "14_binning_qc"

    out_class_reads = "21_classified_reads"
    out_class_bracken = "22_classified_bracken"
    out_class_assembly = "23_classified_assembly"
    out_class_bins = "24_classified_bins"
    out_class_bins_qc = "25_classified_bins_qc"

    out_multiqc_qc = "31_multiqc_qc"
    out_multiqc_reads = "32_multiqc_reads_classification"
    out_multiqc_assembly = "33_multiqc_assembly_classification"
    out_multiqc_binning = "34_multiqc_binning_classification"
}


// Conda
// process {
//    withName: 'checkm2' {
//        conda = '${HOME}/miniforge3/envs/checkm2'
//    }
// }